.section {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
  margin: 150px auto;

  h2 {
    font-size: 30px;
    font-family: GmarketSansBold;
    text-align: left;
  }
}

.intro {
  margin: 150px 0;
  text-align: center;
  font-family: GmarketSansMedium;
  font-size: 25px;

  p {
    margin: 20px 0;
  }
}
