.section {
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
  margin: 150px auto 100px auto;
  border-bottom: 1px solid black;

  h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
  }
}

.intro {
  margin: 150px 0;
  text-align: center;
  font-size: 25px;

  p {
    margin: 20px 0;
  }
}
