.section {
  max-width: 100vw;
}

.container {
  width: 1200px;
  margin: 150px auto 100px auto;

  h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: #6f2bff;
  }
}

.contactAdress {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  margin: 100px 0;
  padding: 50px 0 50px 50px;
  font-size: 20px;
}

.addressLink {
  display: flex;
  text-decoration: none;
  color: black;
  width: fit-content;
  li {
    display: inline-block;
    margin: 20px 0;
    list-style: none;
  }

  li:hover {
    opacity: 0.3;
    text-decoration: none;
    cursor: pointer;
  }
}

.formSection {
  width: 1200px;
  height: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 20px;
  background: linear-gradient(to right bottom, #d767ff, #6f2bff);
  padding-top: 30px;
}

.formContainer {
  width: 800px;
  margin: 100px auto;

  span {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  button {
    width: 100%;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    margin: 30px 0;
  }

  button:hover {
    background-color: white;
    opacity: 0.6;
    color: #6f2bff;
    transition: all 0.2s ease-in-out;
  }
}

.nameEmail {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  input {
    width: 360px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
  }
}

.inputTitle {
  height: 40px;
  border-radius: 5px;
  border-style: none;
  padding-left: 10px;
}

.inputWrap {
  display: flex;
  flex-direction: column;
  padding: 15px 0;

  label {
    color: white;
    text-align: left;
    font-weight: 200;
    margin: 10px 0;
  }

  textarea {
    height: 300px;
    border-radius: 5px;
    resize: none;
    padding: 10px 0 0 10px;
    border-style: none;
  }

  p {
    margin-top: 7px;
    color: rgb(255, 229, 31);
    font-size: 12px;
  }
}

.toast {
  font-size: 13px;
}
