.container {
  max-width: 100vw;
}

.section {
  width: 1200px;
  margin: 0 auto 150px;

  h3 {
    font-size: 30px;
    font-weight: 600;
    height: 50px;
    text-align: left;
    color: #6f2bff;
    margin-top: 150px;
  }
}

.imgGrid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}

.imgWrap {
  width: 380px;
  height: 380px;
  margin: 20px 0;
  position: relative;

  img {
    object-position: center;
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 5px;
  }
}

.imgWrap:hover .overlay {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  border-radius: 20px;
  cursor: pointer;
}

.overlay {
  width: 380px;
  height: 380px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 20px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.7)
  );
  div {
    padding-left: 30px;
  }

  p {
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    margin: 290px auto 20px;
    color: #ffffff;
  }

  span {
    display: block;
    margin-top: 10px;
    font-weight: 200;
    font-size: 15px;
    color: #ffffff;
  }
}
