.container {
  max-width: 1200px;
  height: 100px;
  justify-content: center;
  margin: auto;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logoWrap {
  font-size: 25px;
  cursor: pointer;

  .link {
    font-family: var(--logo-font);
    text-decoration: none;
    color: black;
  }
}

.menuWrap {
  display: flex;
  gap: 20px;
  font-weight: 400;
}

.menuItem {
  color: black;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;

  &:hover:after {
    transform: scaleX(1);
    transition: all 0.2s ease;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
  }

  &:after {
    display: block;
    content: "";
    border-bottom: 1px solid #6f2bff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
}

.active {
  border-bottom: 1px solid #6f2bff;
  padding-bottom: 5px;
  color: #6f2bff;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
}
